.nature-food__title {
  max-width: 572px;
  margin: var(--m0);
  font-weight: var(--font-w600);
  font-family: var(--font-mons);
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .nature-food__title {
    font-size: 28px;
    text-align: center;
  }
}
