.benefits {
  max-width: 1200px;
  margin: var(--m-auto);
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 80px 20px;
}

@media screen and (max-width: 875px) {
  .benefits {
    padding: 60px 20px 40px;
  }
}
