.about {
  max-width: 1200px;
  margin: var(--m-auto);
  padding: 80px 0 80px;
  display: grid;
  column-gap: 126px;
  grid-template-columns: minmax(auto, 384px) minmax(auto, 1fr);
}

@media screen and (max-width: 875px) {
  .about {
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    grid-template-columns: minmax(auto, 1fr);
  }
}

