.about {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 126px;
  margin: var(--m-auto);
}

@media screen and (max-width: 1023px) {
  .about {
    column-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    padding: 20px;
  }
}

