.header__container {
  max-width: 1200px;
  margin: var(--m-auto);
  padding: 41px 20px 32px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}

@media screen and (max-width: 375px) {
  .header__container {
    padding: 41px 10px 32px;
  }
}
