.catalog__card-link {
  margin-top: auto;
  text-decoration: none;
  font-size: 18px;
  color: var(--link-color);
  transition: var(--link-hover);
}

.catalog__card-link:hover {
  opacity: var(--link-opacity);
}

@media screen and (min-width: 769px) {
  .catalog__card-link {
    max-width: 129px;
  }
}
