.catalog__cards {
  margin: 88px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 24px;
}

@media screen and (max-width: 875px) {
  .catalog__cards {
    margin: 68px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .catalog__cards {
    margin: 48px 0 0 0;
  }
}
