.comments {
  max-width: 1200px;
  margin: var(--m-auto);
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

@media screen and (max-width: 875px) {
  .comments {
    padding: 60px 20px;
  }
}
