.footer__list-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--ftext-color);
  transition: var(--link-hover);
}

.footer__list-link:hover {
  opacity: var(--link-opacity);
}

