.footer__container {
  max-width: 1200px;
  padding: 120px 40px;
  margin: var(--m-auto);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer__container {
    padding: 80px 40px;
    flex-direction: column;
    gap: 45px;
  }
}

@media screen and (max-width: 875px) {
  .footer__container {
    padding: 60px 20px;
  }
}
