.comments__title {
  max-width: 630px;
  margin: var(--m-auto);
  text-align: center;
  font-family: var(--font-mons);
  font-weight: var(--font-w600);
  font-size: 36px;
  color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .comments__title {
    font-size: 28px;
  }
}
