.rent__button {
  width: 180px;
  padding: 14px 32px;
  background-color: var(--button-bgcolor);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 1230px) {
  .rent__button {
    width: 100%;
    font-size: 24px;
  }
}
