.about__title {
  max-width: 690px;
  margin: var(--m0);
  font-weight: var(--font-w600);
  font-family: var(--font-mons);
  font-size: 36px;
  line-height: 1.5;
  color: var(--primary-color);
  align-self: end;
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 28px;
  }
}

