.rent {
  max-width: 1200px;
  margin: var(--m-auto);
  padding: 80px 0 80px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 1230px) {
  .rent {
    flex-direction: column;
    gap: 44px;
  }
}

@media screen and (max-width: 768px) {
  .rent {
    padding: 0;
  }
}
