.header__links {
  max-width: 305px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

@media screen and (max-width: 375px) {
  .header__links {
    gap: 25px;
  }
}
