.interior__title {
  max-width: 446px;
  margin: var(--m-auto);
  text-align: center;
  font-weight: var(--font-w600);
  font-family: var(--font-mons);
  font-size: 36px;
  line-height: 150%;
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .interior__title {
    padding: 0 20px;
    font-size: 28px;
  }
}
