.footer__nav {
  display: flex;
  align-items: start;
  gap: 92px;
}

@media (max-width: 1023px) {
  .footer__nav {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
