.header__button {
  padding: 14px 16px;
  background-color: var(--button-bgcolor);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header__button {
    font-size: 24px;
    width: 305px;
  }
}
